*{padding: 0; margin: 0;}
h1 {color:#105a9f; text-transform: uppercase; font-weight: 900; font-size: 35px;}
h1 span {color: chocolate;}
h2 {color:chocolate;}
h3 {font-weight: 100; padding-top: 5px;}
body {background-color: #fff;
    /*background: linear-gradient(to top, rgba(243, 222, 130, 0.5), rgba(243,222,130,0.5)), url(../images/fon.jpg) no-repeat center center fixed;
    background-size: cover;*/}
#container {font-family: sans-serif; width: 100%;}
#top {display: flex; text-align: center;background-color: #fff;}
#top-2 {display: flex; /*position: relative;*/ text-align: center;padding: 0px 50px;}
.top-left {width: 30%; padding: 20px 0;} 
.top-center {width: 40%; padding: 20px 0;}
.top-right {width: 30%; padding: 20px 0;}
.top-right p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: chocolate;
}
.top-right p span {
    color:#105a9f;
}
#top-2 h2 {padding:20px 0;}
#top-2 li {color: #105A9F;list-style-type: none;}
.content-left, .content-center-1, .content-center-2, .content-right {width: 25%; border-top:1px solid #605756;border-left:1px solid #605756;border-bottom: 1px solid #605756;
    padding:0 29px;}
.content-right {border: 1px solid #605756;}
.uslugi {text-align: center; padding: 35px 0;}
/*СПИСКИ*/
.border {
    list-style: none;
    padding: 0;
    }
    .border li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    }
    .border li:nth-child(2){border-color: #8bc63e;}
    .border li:nth-child(3){border-color: #fcba30;}
    .border li:nth-child(4){border-color: #1ccfc9;}
    .border li:nth-child(5){border-color: #493224;}
    .border li:hover {border-left: 10px solid transparent;}
    .border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
    .border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
    .border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
    .border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
    .border li:nth-child(5):hover {border-right: 10px solid #493224;}
/*СПИСКИ*/    
/*======================================*/
* {
    box-sizing: border-box;
 }
 .forma {
    position: absolute;
    right: 215px;
}
 .postcard {
    max-width: 350px;
    margin: 50px auto 0;
    padding: 20px;
    background: #fffdee;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(135deg, #105A9F, #105A9F 10px, transparent 10px, transparent 20px, #D2691e 20px, #D2691e 30px, transparent 30px, transparent 40px);
    font-family: 'Playfair Display';
    color: #605756;
 }
 .form-row {
    margin-bottom: 15px;
 }
 .form-row-3 {
     margin-bottom: 15px;
     text-align: center;
 }
 .form-row input[type="text"], .form-row input[type="email"], .form-row textarea {
    width: 100%;
    padding: 0 10px;
    line-height: 35px;
    border-width: 0;
    outline: none;
    border: 1px solid chocolate;
    background-size: 8px 35px;
    font-family: 'Playfair Display';
 }
 .form-row textarea {
    background-attachment: local;
    background-repeat: repeat;
    resize: none;
 }
 .form-row-3 input[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background: #ff8229;
    border-width: 0;
    cursor: pointer;
    outline: none;
    font-family: 'Playfair Display';
    font-size: 13px;
    letter-spacing: 1px;
    color: #fffdee;
    text-transform: uppercase;
    transition: 1s cubic-bezier(.165, .84, .44, 1);
 }
 .form-row input[type=submit]:hover {
    background: #C42061;
 }
 /*===================================================*/